@import url("https://code.radiant.dj/radiant.json"); 

#room-bar .icon-room {
    top: 13px !important;
    left: 7px !important;
    background: url(http://i.imgur.com/Wa724BR.jpg) !important;
    width: 31px !important;
    height: 31px !important;
}
	
